<a href="{{site.url}}">Home</a>
<ul></ul>

<a href="intro">Voice Patterns</a>
<ul></ul>

<a href="conversational-patterns">Conversational Patterns</a>
<ul>
  <li><a href="language-elements">Language Elements</a></li>
  <li><a href="key-api">Key API</a></li>
  <li><a href="advanced-topics">Advanced Topics</a></li>
</ul>



<a href="framework">Framework Design</a>
<ul>

  <li><a href="framework#design-considerations">Design Considerations</a></li>
  <li><a href="framework#subsystems">Subsystems &amp; Modularization</a></li>
</ul>

<a href="about">About</a>
