---
---

@import "{{ site.theme }}";

.page {
  width: 940px;
  margin: 0 auto;

  .sidebar {
    float: left;
    width: 200px;
    margin-top: 80px;
    background: #DEDEDE;
    border-radius: 8px;
    padding: 8px;

    ul {
      padding-left: 10px;
      list-style-type: none;
    }
  }

  .wrapper {
    margin-left: 230px;
    // width: 640px;
    width: 710px;
  }
}

footer {
  width: 940px;

  p {
    margin-left: 230px;
  }
}
